@using BLL.DTOs;

@model List<ItemDTO>
@{
    ViewData["Title"] = "Main Page";
}

<div class="text-center container flex-column">
    <div class="container flex-sm-grow-0">

    </div>
    <div class="container flex-lg-grow-1 flex-row">
        @foreach(ItemDTO item in Model)
        {
            <div class="container text-center">
                <h3>@item.Name</h3>
                <h7>@item.Category</h7>
                <h5>@item.Price</h5>
                <p>@item.Description</p>
            </div>
        }
    </div>
</div>
